<!-- app/views/user_mailer/reset_password_code.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Password Reset Code</h1>
  <p>Dear <%= @user.email %>,</p>
  <p>Your password reset code is: <%= @reset_code %></p>
  <p>Please use this code to reset your password.</p>
</body>
</html>
