<h1>Добро пожаловать, <%= @user.name %>!</h1>
<p>
  Спасибо за регистрацию на нашем сайте.
  Пожалуйста, посетите <%= link_to 'эту страницу', @url %> для входа в систему.
</p>
<p>С наилучшими пожеланиями,<br>Ваше веб-приложение</p>